{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container h-100">
  <div class="row">
    <div class="col-4">

      <div class="d-flex h-100">
        <div class="user_card my-2" style="">
          <div>
            <img src="media/{{ user1.profile_pic }}" alt="no dp" style="max-width: 300px; max-height: 400px;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">

      <div class="d-flex justify-content-center h-100">
        <div class="user_card my-2">
          <div>
            <h3>Username: <span>{{ user.username }}</span></h3>
            <h5>First Name: <span>{{ user.first_name }}</span></h5>
            <h5>Last Name: <span>{{ user.last_name }}</span></h5>
            <h5>Type: <span>{{ user1.type }}</span></h5>
            <h5>Email ID: <span>{{ user.email }}</span></h5>
            <h5>Address</h5>
            <h5>Line1: <span>{{ user1.line1 }}</span></h5>
            <h5>City: <span>{{ user1.city }}</span></h5>
            <h5>Pincode: <span>{{ user1.pincode }}</span></h5>
            <h5>State: <span>{{ user1.state }}</span></h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}